form{
    background-color: rgb(234, 234, 234);
    max-width: 360px;
    text-align: center;
    margin: auto;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 4px;
}
#textbox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border-radius: 4px;
    margin-bottom: 10px;
}
label{
    font-size: 1.5em;
    font-weight: bold;
}
button{
    margin-top: 10px;
    font-size: 1.5em;
    padding:5px 20px;
    cursor: pointer;
    background-color: rgb(159, 104, 255);
    border: none;
    border-radius: 4px;
    transition: 0.7s background-color;
}
button:hover{
    background-color:rgb(110, 29, 250);
}
#result{
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px;
}